__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
build/
dist/
*.egg-info/
*.c
*.exe
*.ir
*.raw.ir
*.tokens.txt
*.ast.txt
*.symbols.txt
*.cfg.txt
*.ll1.txt
*.slr.txt
*.stk
*.dot
*.warnings.txt
*.vsix
tools/vscode-patakha-language/node_modules/
